---
import MainLayout from "../layouts/MainLayout.astro";
import IconList from "../components/IconList.astro";
---

<MainLayout title="Index">
	<IconList />

	<section>
		<h1>About me</h1>
		<p>
			Hi, I'm Preston! I'm a C++/C# software developer with a passion for developing software.
			Currently, I use C++ for application development and ASP.Net for back-end web development.
		</p>
	</section>
</MainLayout>