---
import SocialButton from "../components/SocialButton.astro";
---

<nav class="flex-list">
        <SocialButton socialName="GitHub" socialLink="https://www.github.com/PrestonLTaylor" />
        <SocialButton socialName="LinkedIn" socialLink="https://www.linkedin.com/in/preston-l-taylor/" />
        <SocialButton socialName="Email" socialLink="mailto:PrestonLeeTaylor@proton.me"/>
</nav>

<style>
	nav {
	    border-top: 1px solid var(--clr-main);

        justify-content: center;
   }
</style>