---
import NavBarLink from "../components/NavBarLink.astro";
---

<nav>
	<ul class="flex-list">
		<NavBarLink href="/index.html" text="Index"/>
		<NavBarLink href="/portfolio.html" text="Portfolio"/>
	</ul>
</nav>

<style>
	nav {
		border-bottom: 1px solid var(--clr-main);
	}
</style>
