---
const { name, link, tags } = Astro.props.frontmatter;
---

<h2>
    <a href={link}>{name}</a>
</h2>

<slot />

<ul class="flex-list">
    {
        tags.map((tag) => (
            <li>
                <p>{tag}</p>
            </li>
        ))
    }
</ul>

<style>
    ul {
        gap: 1rem;
        padding-top: 1rem;
    }

    li {
        padding: 0.25rem;
        border: 1px solid var(--clr-main);
        border-radius: 0.25rem;
    }
</style>